import os
import saml2


CONF_DIR = '/etc/nodeconductor/saml2'

NODECONDUCTOR_SAML2 = {
    # used for assigning the registration method to the user
    'name': 'saml2',
    # full path to the xmlsec1 binary program
    'xmlsec_binary': '/usr/bin/xmlsec1',
    # required for assertion consumer, single logout services and entity ID
    'base_url': 'http://example.com',
    # directory with attribute mapping
    'attribute_map_dir': os.path.join(os.path.dirname(os.path.abspath(__file__)), '../../../', 'attribute-maps'),
    # set to True to output debugging information
    'debug': False,
    # IdPs metadata XML files stored locally
    'idp_metadata_local': [],
    # IdPs metadata XML files stored remotely
    'idp_metadata_remote': [
        {
            # URL to the metadata XML file
            'url': 'http://idp.example.com/saml2/idp/metadata.php',
            # path to PEM certificate required to retrieve the remote metadata XML file
            'cert': os.path.join(CONF_DIR, 'example-idp.pem'),
        },
    ],
    # logging
    'log_file': '',
    'log_level': 'INFO',
    # PEM formatted certificate chain file
    'cert_file': os.path.join(CONF_DIR, 'sp1.crt'),
    # PEM formatted certificate key file
    'key_file': os.path.join(CONF_DIR, 'sp1.pem'),
    # SAML attributes that are required to identify a user
    'required_attributes': ['cn', 'mail', 'schacPersonalUniqueID'],
    # SAML attributes that may be useful to have but not required
    'optional_attributes': ['schacHomeOrganization', 'preferredLanguage'],
    # mapping between SAML attributes and User fields
    'saml_attribute_mapping': {
        'schacPersonalUniqueID': ['username', 'civil_number'],
        'cn': ['full_name'],
        'mail': ['email'],
        'preferredLanguage': ['preferred_language'],
        'schacHomeOrganization': ['organization'],
    },
    # organization responsible for the service
    # you can set multilanguage information here
    'organization': {
        'name': [('OpenNode OU', 'et'), ('OpenNode LLC', 'en')],
        'display_name': [('OpenNode', 'et'), ('OpenNode', 'en')],
        'url': [('https://opennodecloud.com/', 'et'), ('https://opennodecloud.com/', 'en')],
    },
}
